<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.readingcalifornia.reading1"
        version     = "1.1"
        versionCode = "101" >
        <!-- versionCode is optional and Android only -->

        <!-- Tool Set Version --> 
        <preference name='phonegap-version' value='cli-6.0.0' />

        <name>Reading California</name>
        <description>Reading California, teaching the masses to read.</description>

        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>

        <gap:platform name="android" />
        
        <icon src="res/drawable-ldpi/icon.png" gap:platform="android" gap:qualifier="ldpi" />
        <icon src="res/drawable-mdpi/icon.png" gap:platform="android" gap:qualifier="mdpi" />
        <icon src="res/drawable-hdpi/icon.png" gap:platform="android" gap:qualifier="hdpi" />
        <icon src="res/drawable-xhdpi/icon.png" gap:platform="android" gap:qualifier="xhdpi" />
        <icon src="res/drawable-xxhdpi/icon.png" gap:platform="android" gap:qualifier="xxhdpi" />
        <icon src="res/drawable-xxxhdpi/icon.png" gap:platform="android" gap:qualifier="xxxhdpi" />

        <preference name="permissions" value="none"/>

        <!-- <gap:plugin name="org.apache.cordova.device" /> -->
        <plugin name="cordova-plugin-device" spec="~2.0.2" />
        <!-- <gap:plugin name="org.apache.cordova.media" /> -->
        <plugin name="cordova-plugin-media" spec="~5.0.2" />
        <!-- <gap:plugin name="org.apache.cordova.splashscreen" /> -->
        <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
        <!--<gap:plugin name="org.apache.cordova.vibration" /> -->
        <plugin name="cordova-plugin-vibration" spec="~3.1.0" />
    </widget>
