body {margin:0px;}

#topSpace {height:3em;}

.thinBorder {border:solid 1px black;}
.contentRight {text-align:right;}

#leftSide {float:left;width:20%;}
#rightSide {float:right;width:20%;}

#centerText {
width:50%;
font-family:sans-serif;
font-size:large;
font-weight:bold;
text-align:center;
color:#22aacc;
padding:1em;
}
