body {margin:0px;font-size:1em;}
* {margin:0px;padding:0px}

#topSpacer {height:3em;}

/* .thinBorder {border:solid 1px black;} */
.thinBorder {}
.contentRight {text-align:right;}

#wrapper {width:100%}
#leftSide {float:left;width:20%;margin:0px;padding:0px;}
#home-icon {margin:0 10%;}
#rightSide {float:right;width:20%;margin:0px;padding:0px;}
#replay_button {margin:0 10%}

#centerText {
width:50%;
font-family:sans-serif;
font-size:1.5em;
font-weight:bold;
text-align:center;
color:#22aacc;
padding:1.5em;
}

#centerContent {
text-align:center;
width:50%;
margin:0px auto;
}

@media screen and (max-width:495px) {
#imagelesson {width:100%}
#leftSide {float:left;width:78px;}
#rightSide {float:right;width:78px;}
#centerText {font-size:1em;}
}

